<div class="container">
  <h1><%= @restaurant.name %></h1>
  <h2><%= @restaurant.address %></h2>
  <h2><%= @restaurant.phone_number %></h2>
  <h2><%= @restaurant.category %></h2>
  <%= link_to "Write a review", new_restaurant_review_path(@restaurant) %>
  <%= link_to "Back", restaurants_path %>
  <h3>Reviews:</h3>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <div class="d-flex">
          <% review.rating.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - review.rating).times do %>
            <i class="far fa-star"></i>
          <% end %>
        </div>
        <%= review.content %>
      </li>
    <% end %>
  </ul>
</div>
