<div class="container">
  <h1>Add new review</h1>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <div class="star-rating mb-5 d-flex align-items-baseline">
      <label class="me-4">Rating:</label>
      <% 5.times do |i| %>
        <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
      <% end %>
    </div>
    <%= f.input :content %>
    <%= f.submit class: 'btn btn-primary mt-2' %>
      
  <% end %>
    
</div>